/* Reset de base et styles globaux */
body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url("../image/DALLE-2024-07-04-17.09.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* .container {
  max-width: 1200px;
  width: 100%;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
} */

/* Styles pour l'en-tête */
header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  color: #333;
  font-size: 36px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Styles pour la section des joueurs */
.setup-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.setup-container label {
  font-weight: bold;
  margin-right: 10px;
  font-size: 18px;
}

.setup-container input[type="number"],
.setup-container input[type="text"] {
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.setup-container input[type="number"]:focus,
.setup-container input[type="text"]:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(81, 203, 238, 0.8);
}

.setup-container button {
  padding: 12px 24px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.setup-container button:hover {
  background-color: #45a049;
}

/* Styles pour les tables de score */
.score-tables-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

table {
  width: 320px;
  border-collapse: collapse;
  background-color: #F5F3E2;
  border: 2px solid #4caf50;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

table th,
table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

table th {
  background-color: #4caf50;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tbody tr:hover {
  background-color: #e0f7fa;
}

select,
input[type="number"] {
  width: calc(100% - 24px);
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

select:focus,
input[type="number"]:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(81, 203, 238, 0.8);
}

.special {
  font-weight: bold;
  color: #ffa500;
}

.total-score {
  font-weight: bold;
  font-size: 20px;
}

/* Media query pour une meilleure adaptation sur les petits écrans */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  table {
    width: 100%;
  }
}

button {
  padding: 20px 50px;
  font-size: 1.5rem;
  cursor: pointer;
  border: 0px;
  background: transparent;
  position: relative;
  transition: all 0.2s;
  overflow: hidden;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, 0.5),
    0px 0px 0px 0px rgba(39, 200, 255, 0.5);
}

button::after {
  content: "";
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: -100px;
  background-image: linear-gradient(
    225deg,
    #27d86c 0%,
    #26caf8 50%,
    #c625d0 100%
  );
  z-index: -1;
  transition: all 0.5s;
}

button:hover::after {
  transform: rotate(150deg);
}

button:hover {
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, 0.25),
    -10px 10px 25px 0px rgba(39, 200, 255, 0.25);
}
